<template name="ProfileShow">
  <!-- Intro Card -->
  <header class="intro">
    <div class="intro-body">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-11 col-md-offset-1">
            <div class="row">
              <div class="col-xs-12 col-md-9">
                <h1>Carlos Baraza</h1>
                <h2>
                  Web Development & Design
                  <span class="location">
                    <i class="glyphicon glyphicon-globe"></i>
                    Luxembourg
                  </span>
                </h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <h4>Phone</h4>
                <p>
                  Call me anytime<br>
                  +33 7 81 85 36 59
                </p>
              </div>
              <div class="col-md-3">
                <h4>Email</h4>
                <p>
                  Questions & Inquiries:<br>
                  hello@carlosbaraza.com
                </p>
              </div>
              <div class="col-md-3">
                <h4>Social</h4>
                <a href="https://twitter.com/carlosbaraza">Twitter</a><br>
                <a href="https://github.com/carlosbaraza">Code with me on <strong>Github</strong></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- end Intro Card -->
</template>
