<template name="Navbar">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
          <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="#page-top">Carlos Baraza</a>
      </div>

      <!-- Nav bar -->
      <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="#intro">Card</a>
          </li>
          <li class="">
            <a href="#portfolio">Portfolio</a>
          </li>
          <li class="">
            <a href="#resume">Resume</a>
          </li>
          <li class="">
            <a href="#services">Blog</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>
</template>
