<template name="Navbar">
  <nav class="navbar navbar-inverse {{isFixedClass}}" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-main-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#page-top">Carlos Baraza</a>
      </div>

      <!-- Nav bar -->
      <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="#intro">Card</a>
          </li>
          <li class="">
            <a href="#portfolio">Portfolio</a>
          </li>
          <li class="">
            <a href="#resume">Resume</a>
          </li>
          <li class="">
            <a href="#services">Blog</a>
          </li>
          {{> loginButtons}}
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>
</template>
