<template name="AdminCard">
  <h2>Your business card</h2>
  <div class="well well-sm">
    <form>
      <div class="form-group">
        <label for="profileName">Full name</label>
        <input type="text" class="form-control" id="profileName" placeholder="Your name">
      </div>
      <div class="form-group">
        <label for="profileVocation">Vocation</label>
        <input type="text" class="form-control" id="profileVocation" placeholder="Your occupation">
      </div>
      <div class="form-group">
        <label for="profileName">Email</label>
        <input type="email" class="form-control" id="profileName" placeholder="Public email">
      </div>
      <button type="submit" class="btn btn-success pull-right">Submit</button>
      <div class="clearfix"></div>
    </form>
  </div>
</template>
