/*****************************************************************************/
/* main: Style */
/*****************************************************************************/

@import "bootstrap/variables.import.less";
@import "variables";

body, html {
  height: 100%;
  position: relative;
}

body {
  background: @body-bg;
  font-family: @font-family-base;
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
  color: @text-color;
}

a {
  color: @text-color;
}

a:hover {
  color: @text-color;
  text-decoration: underline;
}

h1, h2, h3, h4 {
  font-family: @font-family-sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 47px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 12px;
}

h2 {
  font-size: 13px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 5px;
}

h3 {
  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h4 {
  font-size: 11px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 5px 10px 10px 0px;
  margin: 25px 0px 10px 0;
  border-bottom: 1px solid @text-color;
}

h5 {
  font-family: @font-family-base;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  clear: both;
}

::-moz-selection {
  color: @text-color;
  background: @brand-primary;
}

::selection {
  color: @text-color;
  background: @brand-primary;
}

.brand-primary {
  color: @brand-primary;
}
