/*****************************************************************************/
/* Navigation bar: Style */
/*****************************************************************************/

@import "bootstrap/variables.import.less";
@import "variables";

.navbar-brand {
  font-family: @font-family-sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-size: 10px;

  @media (min-width: @screen-md-min) {
    font-size: 1.2em;
  }
}

#login-dropdown-list {
  a { color: @brand-primary }
  .dropdown-menu {
    a { color: @brand-primary-dark }
  }
  .form-control {
    color: @gray-dark;
  }
  @media (max-width: 767px) {
    .dropdown-menu {
      a { color: @brand-primary }
    }
    .form-control {
      color: @gray-lighter;
    }
  }
}

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
  max-height: 9999px;
}

.navbar-inverse.navbar {
  background-color: darken(@body-bg, 2%);
}
